@model IEnumerable<StockAngleSharp.ViewModel.StockViewModel>

@{
    ViewBag.Title = "Index";
    var ddd = string.Empty;
}

<style>
    .Red > td {
        color : red;
        font-weight:800;
    }
    .Green > td {
        color : green;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockDeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockGainDrop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockGainDrop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockYesterday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockTop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockDown)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.StockGainDrop.Contains("△"))
        {
            ddd = "Red";
        }
        else if (item.StockGainDrop.Contains("▽"))
        {
            ddd = "Green";
        }
        else
        {
            ddd = "";
        }
        <tr class="@ddd">            
            <td>
                @Html.DisplayFor(modelItem => item.StockID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockDeal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockBuy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockSell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockGainDrop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockShareCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockYesterday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockOpen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockDown)
                </td>
            </tr>
    }

</table>
