@model CrawlerDAL.ViewModels.CategoryStockViewModel
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@section CSS{
    <style>
        tr > th {
            text-align: center;
        }

        tr > td {
            text-align: center;
        }

        .Price {
            /*display: inline;*/
            text-align: left !important;
        }

        .GainDrop {
            /*display: inline;*/
            text-align: right !important;
        }
    </style>
}
<!--類別-->
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    @Html.Action("CategoryListPartial", "Category")
</div>
<!--類別明細-->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>代號</th>
                <th>名稱</th>
                <th colspan="2">成交 / 波動</th>
                <th>明細</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StockList)
            {
                <tr>
                    <td>@item.StockID</td>
                    <td>
                        <a href="@item.StockURL">@item.StockName</a>
                    </td>
                    <td colspan="2">
                        <div class="AsyncPrice" data-id="@item.StockID">
                            <div class="Price"></div>
                            <div class="GainDrop"></div>
                        </div>
                    </td>
                    <td><a href="#" class="btn btn-default" onclick="BindDatail(@item.StockID)">明細</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="BindDetail" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <!--近五日三大法人買賣超總表-->
    <table class="table table-bordered table-hover" id="Juristic">
        <tr>
            <td colspan="6">近五日三大法人買賣超總表</td>
        </tr>
        <tr>
            <td>日期</td>
            <td>外資</td>
            <td>投信</td>
            <td>自營商</td>
            <td>合計</td>
            <td>漲跌%</td>
        </tr>
    </table>
    <!--公司明細-->    
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="4">公司明細</td>
            </tr>
            <tr>
                <td>代號</td>
                <td id="Stock_ID"></td>
                <td>網址</td>
                <td><a id="Company_Official_Url" href="#">官網</a></td>
            </tr>
            <tr>
                <td>類別</td>
                <td id="Catetory_Name"></td>
                <td>資本</td>
                <td id="Stock_Capital"></td>
            </tr>
            <tr>
                <td>創立時間</td>
                <td id="CompanyCreateDate"></td>
                <td>上市時間</td>
                <td id="StockCreateDate"></td>
            </tr>
            <tr>
                <td>營收</td>
                <td colspan="3" rowspan="2" id="Revenue"></td>
            </tr>
            <tr></tr>
            <tr>
                <td>工廠</td>
                <td colspan="3" rowspan="2" id="Company_Fatory"></td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>

@section JS{
    <script>
        let url = "@Url.Action("Company_AjaxParital", "Stock")";
        let JuristicUrl = "@Url.Action("StockJuristicAsync", "Stock")";
        let gaindropUrl = "@Url.Action("StockGainDrop5DayAsync", "Stock")";

        $(function () {
            GetPriceAsync();
            Run();
        });

        function Run() {
            setInterval(GetPriceAsync, 5000);
        }

        $('#BindDetail,#Juristic').hide();

        function GetPriceAsync() {
            var url = "@Url.Action("StockPriceNowAsync", "Stock")";

            $('.AsyncPrice').each(function () {
                var stock_id = $(this).attr('data-id');
                var thisTag = $(this);
                $.ajax({
                    type: "GET",
                    url: url,
                    data: { "stock_Id": stock_id },
                    dataType: "json",
                    success: function (response) {
                        var price = $(thisTag.children()).first();
                        var gainDrop = $(thisTag.children()).last();
                        if (price.text() != response.Price) {
                            price.text(response.Price);
                        }
                        gainDrop.text(response.GainDrop).attr('style', 'color:' + response.Color);
                    }
                });
            })
        }

        function BindDatail(stock_id) {
            $('.total').remove();

            $.ajax({
                type: "POST",
                url: url,
                data: { "stock_Id": stock_id },
                dataType: "json",
                success: function (response) {
                    $('#Stock_ID').text(response.Stock_ID);
                    $('#Catetory_Name').text(response.Catetory_Name);
                    $('#Company_Official_Url').attr('href', response.Company_Official_Url);
                    $('#CompanyCreateDate').text(response.CompanyCreateDate);
                    $('#StockCreateDate').text(response.StockCreateDate);
                    $('#Stock_Capital').text(response.Stock_Capital);
                    $('#Revenue').text(response.Revenue);
                    $('#Company_Fatory').text(response.Company_Fatory);
                    $('#Revenue').text(response.Revenue);
                    $('#BindDetail').show();

                    Juristic(stock_id);
                },
            });
        }

        function Juristic(stock_id) {
            $.ajax({
                type: "GET",
                url: JuristicUrl,
                data: { "stock_Id": stock_id },
                dataType: "json",
                success: function (response) {
                    if (response.Days != null) {
                        var dataList = response.Days;
                        for (var i = 0; i < dataList.length; i++) {
                            $('#Juristic').append('<tr class="total">' +
                                                            '<td>' + dataList[i].JuristicDate + '</td>' +
                                                            '<td>' + dataList[i].Foreign + '</td>' +
                                                            '<td>' + dataList[i].Investment + '</td>' +
                                                            '<td>' + dataList[i].Self + '</td>' +
                                                            '<td>' + dataList[i].Total + '</td>' +
                                                          '</tr>')
                            $('#Juristic').show();
                        }
                        GainDropAjax(stock_id);
                    }
                }
            });
        }

        function GainDropAjax(stock_id) {
            $.ajax({
                type: "GET",
                url: gaindropUrl,
                data: { "stock_Id": stock_id },
                dataType: "json",
                success: function (response) {
                    if (response.Days != null) {
                        var dataList = response.Days;
                        for (var i = 0; i < dataList.length; i++) {//GainDropDate
                            var thisPer = dataList[i].Per;
                            if (thisPer.indexOf('0.00%') > -1) {
                                $('.total:eq(' + i + ')').append('<td>' + thisPer + '</td>');
                            }
                            else if (thisPer.indexOf('-') == -1) {
                                $('.total:eq(' + i + ')').append('<td style="color:Red">' + thisPer + '</td>');
                            }
                            else {
                                $('.total:eq(' + i + ')').append('<td style="color:Green">' + thisPer + '</td>');
                            }
                        }
                    }
                }
            });
        }
    </script>
}